body{
	font: 20px Times New Roman, Serif;
}
.navbar{
	background-color: lightpink;
}
.quemsomos{
	background-color: #8181F7;
	color: white;
}
.margin{
	padding-bottom: 40px;
	padding-top: 10px;
}
#Parceiros{
	background-color: lightgreen;
}
.bg-footer{
	background-color: black;
	color: white;
}